PGHOST=localhost
PGPORT=5432
PGDATABASE=crypto_momentum
PGUSER=postgres
PGPASSWORD=change_me
PGSSLMODE=disable

INGEST_NETWORKS=base,eth,solana,bsc
INGEST_MAX_POOLS=50
INGEST_MAX_TRADES_PER_POOL=25
INGEST_MAX_PAGES_PER_POOL=8
INGEST_LOOKBACK_HOURS=72
GECKOTERMINAL_BASE_URL=https://api.geckoterminal.com/api/v2
PRIMARY_DATA_SOURCE=gecko
FALLBACK_DATA_SOURCE=alchemy
ALCHEMY_API_KEY=
ALCHEMY_POOL_ADDRESSES=
ALCHEMY_APPROX_BLOCKS_PER_HOUR=1800
DISCOVERY_MAX_PAGES=3
METRICS_MAX_SWAPS=5000
PRICE_MAX_SWAPS=50000
FEATURES_MAX_METRIC_ROWS=20000
LABELS_HORIZON_BUCKETS=24
LABELS_TARGET_THRESHOLD=0.05
COINSTATS_API_KEY=
COINSTATS_BLOCKCHAINS=

# Meme Radar
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
APIFY_API_TOKEN=
X_BEARER_TOKEN=

# Tradability Filters
TRADABLE_MIN_VOLUME_24H=20000
TRADABLE_MIN_TOKEN_AGE_MINUTES=60
TRADABLE_MIN_MARKET_CAP=200000
PUMP_FILTER_THRESHOLD=25